* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

:root {
  --color-background: #F5F1E8;
  --color-primary: #4F7942;
  --color-secondary: #A3B18A;
  --color-text: #2F2F2F;
  --color-accent: #C1653B;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 1rem;
  background-color: #a3b18a;
  gap: 12px;
  /*at a certain size the button moved slightly off screen and is no longer affected by the background color but the button is in the header in the html so how can a certain screen size make the background color not apply? */
}

.logo {
  font-size: x-large;
  font-weight: bold;
  color: var(--color-background);
}

header nav ul {
  display: flex;
  gap: 2em;
  list-style: none;
}

header nav a {
  text-decoration: none;
  color: var(--color-background);
}

header nav a:hover {
  color: var(--color-accent);
}

.cta-button {
  background-color: var(--color-accent);
  color: var(--color-background);
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.cta-button:hover {
  background-color: #2f2f2f;
}

.companies {
  background-color: #f5f1e8;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2.5rem;
  padding-right: 0rem;
  text-align: center;
}
.companies h4 {
  color: #a3b18a;
  display: inline-block;
}
.trusted-by {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  /* background-color: #2F2F2F; Why is the grid bigger than the items despite no padding - how do i get rid of the space next to osprey - checked and it is not coming from the image itself it is coming from this area*/
}

.trusted-by img {
  width: 60%;
  height: auto;
}
.video-section {
  background-color: #a3b18a;
  text-align: center; /*this works on all inline block elements not just actual text so it can be used for the video as well by turning this into an inline block element */
  padding: 2rem;
}
.video-section h3 {
  color: #f5f1e8;
  margin-bottom: 1rem;
}
.video-section video {
  width: 70%;
  height: auto;
  display: inline-block;
  border-radius: 3%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 1rem;
  background-color: #a3b18a;
}

.logo {
  font-size: x-large;
  font-weight: bold;
  color: #f5f1e8;
}

nav ul {
  display: flex;
  gap: 2em;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #f5f1e8;
}

nav a:hover {
  color: #4f7942;
}

.cta-button {
  background-color: #4f7942;
  color: #f5f1e8;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.cta-button:hover {
  background-color: #2f2f2f;
}

.companies {
  background-color: #f5f1e8;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2.5rem;
  padding-right: 0rem;
  text-align: center;
}
.companies h4 {
  color: #a3b18a;
  display: inline-block;
}
.trusted-by {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  /* background-color: #2F2F2F; Why is the grid bigger than the items despite no padding - how do i get rid of teh space next to osprey - checked and it is not coming from the image itself it is coming from this area*/
}

.trusted-by img {
  width: 60%;
  height: auto;
}
.video-section {
  background-color: #a3b18a;
  text-align: center; /*this works on all inline block elements not just actual text so it can be used for teh video as well by turning this into an inline block element */
  padding: 2rem;
}
.video-section h3 {
  color: #f5f1e8;
  margin-bottom: 1rem;
}
.video-section video {
  width: 50%;
  height: auto;
  display: inline-block;
  border-radius: 3%;
}
.homepage-container1 {
  border: 1px solid #ccc;
  width: 40%;
  height: auto;
  padding: 1rem;
  background-color: #c8d6d2;
  border-radius: 5px;
}
.homepage-container2 {
  border: 1px solid #ccc;
  width: 30%;
  height: auto;
  background-image: url("/adventurepic1.jpg");
  /* background-attachment: fixed; */
  background-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 5px;
}
#homepage-section {
  display: flex;
  justify-content: center;
  gap: 8%;
  padding: 3rem;
  background-color: #7da89a;
}
#appnumber {
  font-size: 0.9rem;
  background-color: #8dcbb5;
  width: 50%;
  text-align: center;
  padding: 0.5rem;
}
#escape-ordinary {
  font-size: 1.25rem;
  font-weight: bold;
  padding: 1rem;
  text-align: left;
}
#discover {
  font-size: 1rem;
  font-weight: normal;
  padding: 0.5rem;
}
#tagline {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 2rem;
}

#continue {
  font-size: 1.25rem;
  padding: 0.5rem;
  position: absolute;
  bottom: 0;
  left: 5%;
}
#try-for-free {
  font-size: 1.25rem;
  margin-top: 2rem;
  text-align: center;
  padding: 0.5rem;
  background-color: #8dcbb5;
  width: 40%;
}
img {
  width: 60%;
  height: 40%;
}

.circle {
  border: 1px solid #67a993;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 50%;
  width: 6.5rem;
  height: 6.5rem;
  text-align: center;
  line-height: 6.5rem;
  text-wrap: wrap;
  margin: 0;
}
.choose-section {
  background-color: #6aaeb6;
  display: flex;
  justify-content: center;
  justify-items: center;
  text-align: center;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 250px));
  grid-template-rows: repeat(2, 1fr);
  justify-content: space-around;
  justify-items: space-around;
  width: 70%;
  /* height:40%; */
  text-wrap: wrap;
  padding: 2em;
  margin: 0 auto;
}
/* .grid-items {
  width: 20%;
} */
.square-flex-container {
  display: flex;
  justify-content: center;
  gap: 5%;
  width: 100%;
  height: auto;
  padding: 2em;
}
.square-flex-item {
  border: 1px solid #ccc;
  width: 18%;
  height: 15rem;
  background-color: #c8d6d2;
  border-radius: 5px;
  text-align: center;
  padding: 2rem;
  position: relative;
}
.subscription {
  font-weight: bold;
  font-size: 1rem;
  position: absolute;
  bottom: 0;
  right: 1.5em;
  padding: 0.5rem;
  background-color: #8dcbb5;
  text-align: center;
}
.square-flex-container ul {
  padding: 0;
  margin: 0;
  text-align: left;
}
.square-flex-item div:first-child {
  font-weight: bold;
  margin-bottom: 1rem;
}
.features-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #8cb3b5; /* Matches the gray background */
  padding: 60px 20px;
  font-family: sans-serif;
  text-align: center;
  padding: 3rem;
  height: auto;
}

/* Row Container for the 3 columns */
.features-grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8%;
  width: 100%;
  max-width: 1100px;
}

/* Individual Feature Columns */
.feature-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 1 25%;
}

/* Circle Icon Design */
.circle-icon {
  width: 120px;
  height: 120px;
  background-color: #a5e1d2;
  border-radius: 50%;
  margin-bottom: 25px;
  margin-top: 30px;
}

.circle-icon img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  text-align: center;
}
.circleh {
  width: 120px;
  height: 120px;
  line-height: 6.5rem;
  text-wrap: wrap;
  text-align: center;
}

.feature-item p {
  font-size: 0.95rem;
  line-height: 1.4;
  margin: 0;
  text-align: center;
}
.choose-header {
  text-align: center;
  margin-top: 2em;
}
.price-section {
  text-align: center;
  background-color: #67a993;
}
.price-header {
  text-align: center;
  padding: 2em;
}

footer {
  background-color: #a3b18a;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
footer div {
  margin-bottom: 1rem;
}

footer nav ul {
  display: flex;
  gap: 2em;
  list-style: none;
  margin-bottom: 2rem;
}

footer nav a {
  text-decoration: none;
  color: #f5f1e8;
}

footer nav a:hover {
  color: #4f7942;
}
.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}
.social-icons img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  opacity: 0.7;
  transition: 0.3s;
}
.social-icons img:hover {
  opacity: 1;
  transform: scale(1.2);
}
footer p {
  color: #797878;
  font-size: small;
}
@media (max-width: 400px) {
  header {
    flex-direction: column; /* this will make teh flexbox change to vertical layout on smaller screen*/
    align-items: center;
    gap: 12px;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-bottom: 1rem;
  }

  .social-icons {
    flex-direction: column;
    gap: 12px;
  }
}
